// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Grid system
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.gs {
  /* Parent style   ------------------------------ */
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  /* Children style ------------------------------ */
  > .gs-col {
    transition: $transition-elastic;
  }

  /* Other component style ----------------------- */

  /* Modifier style ------------------------------ */
  // Gutter
  // .................................
  // Horizontal
  @each $gutter-width, $gutter-name in $gutter-horizontal-names {
    &.is-#{$gutter-name} {
      margin-left: -$gutter-width;

      > .gs-col {
        padding-left: $gutter-width;
      }
    }
  }

  // Vertical
  @each $gutter-height, $gutter-name in $gutter-vertical-names {
    &.is-#{$gutter-name} {
      margin-top: -$gutter-height;

      > .gs-col {
        padding-top: $gutter-height;
      }
    }
  }

  // Alignment
  // .................................
  &.is-start {
    justify-content: flex-start;
  }

  &.is-end {
    justify-content: flex-end;
  }

  &.is-center {
    justify-content: center;
  }

  &.is-spacebetween {
    justify-content: space-between;
  }

  &.is-alignitems-start {
    align-items: flex-start;
  }

  &.is-alignitems-end {
    align-items: flex-end;
  }

  &.is-alignitems-center {
    align-items: center;
  }

  &.is-alignitems-spacebetween {
    align-items: space-between;
  }

  @each $breakpoint-min, $breakpoint-name in $breakpoint-names {
    @media (min-width: $breakpoint-min) {
      &.is-#{$breakpoint-name}-start {
        justify-content: flex-start;
      }

      &.is-#{$breakpoint-name}-end {
        justify-content: flex-end;
      }

      &.is-#{$breakpoint-name}-center {
        justify-content: center;
      }

      &.is-#{$breakpoint-name}-spacebetween {
        justify-content: space-between;
      }
    }
  }

  // Flex grow & narrow
  // .................................
  &.is-flexs {
    > .gs-col {
      // Flex utilities
      // .................................
      &.is-grow {
        flex: 1;
      }

      &.is-narrow {
        flex: none;
      }

      &.is-stack {
        flex: none;
        width: 100%;
      }

      &.is-row {
        flex: auto;
        width: auto;
      }

      // Flex responsive
      // .................................
      @each $breakpoint-min, $breakpoint-name in $breakpoint-names {
        @media (min-width: $breakpoint-min) {
          &.is-#{$breakpoint-name}-stack {
            flex: none;
            width: 100%;
          }

          &.is-#{$breakpoint-name}-row {
            width: auto;

            &.is-grow {
              flex: 1;
            }

            &.is-narrow {
              flex: none;
            }
          }
        }
      }
    }

    // Gutter horizontal & vertical reponsive
    // .................................
    @each $breakpoint-width, $breakpoint-name in $breakpoint-names {
      @media (min-width: $breakpoint-width) {
        // Horizontal responsive
        @each $gutter-width, $gutter-name in $gutter-horizontal-names {
          &.is-#{$breakpoint-name}-#{$gutter-name} {
            margin-left: -$gutter-width;

            > .gs-col {
              padding-left: $gutter-width;
            }
          }
        }

        // Vertical responsive
        @each $gutter-height, $gutter-name in $gutter-vertical-names {
          &.is-#{$breakpoint-name}-#{$gutter-name} {
            margin-top: -$gutter-height;

            > .gs-col {
              padding-top: $gutter-height;
            }
          }
        }
      }
    }
  }

  // Flex percent
  // .................................
  &.is-cols {
    > .gs-col {
      // Column utilities
      // .................................
      @for $i from 0 through $grid-system - 1 {
        &.is-#{$grid-system - $i} {
          width: calc((100% * ($grid-system - $i)) / $grid-system);
        }
      }

      // Column responsive
      // .................................
      @each $breakpoint-min, $breakpoint-name in $breakpoint-names {
        @media (min-width: $breakpoint-min) {
          @for $i from 0 through $grid-system - 1 {
            &.is-#{$breakpoint-name}-#{$grid-system - $i} {
              width: calc((100% * ($grid-system - $i)) / $grid-system);
            }
          }
        }
      }
    }

    // Gutter horizontal & vertical reponsive
    // .................................
    @each $breakpoint-min, $breakpoint-name in $breakpoint-names {
      @media (min-width: $breakpoint-min) {
        // Horizontal responsive
        @each $gutter-width, $gutter-name in $gutter-horizontal-names {
          &.is-#{$breakpoint-name}-#{$gutter-name} {
            margin-left: -$gutter-width;

            > .gs-col {
              padding-left: $gutter-width;
            }
          }
        }

        // Vertical responsive
        @each $gutter-height, $gutter-name in $gutter-vertical-names {
          &.is-#{$breakpoint-name}-#{$gutter-name} {
            margin-top: -$gutter-height;

            > .gs-col {
              padding-top: $gutter-height;
            }
          }
        }
      }
    }
  }
}
