// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Home
// - Utilities
// - Main style
// - Fix browser style
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Utilities
// ============================================================

// Main style
// ============================================================
// .home {
//   .home-container {
//     padding: 24px;
//   }

//   .home-section {
//     &.is-content {
//       margin: 0 0 24px;
//     }
//   }

//   .home-partition {
//     margin: 0 0 24px;

//     &.is-heading {
//       border-top: 4px solid #111111;
//     }

//     &.is-subheading {
//       border-top: 1px solid #111111;
//     }
//   }

//   .home-box {
//     padding: 8px 8px 6px;
//     background-color: #111111;
//     color: #FFFFFF;
//   }
// }

// Fix browser style
// ============================================================
